/* clean user agent styles and add font-size for 1rem == 10px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  background: #ecf0f1;
}
body {
  font-size: 1.6rem;
  min-height: 96.6rem;
}
.body-content {
  min-height: 96.6rem;
}
/* styling */
.toolbar {
  display: flex;
  align-items: center;
  background-color: #ffa801;
  height: 4.8rem;
}
.toolbar > aside {
  display: flex;
  margin-left: 6%;
}
.toolbar span:first-of-type {
  font-weight: bold;
}
.toolbar > aside > i {
  font-size: 2.4rem;
  line-height: 1.8rem;
  margin-right: 0.6rem;
}
.toolbar input {
  width: 85%;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}
.toolbar section:first-of-type {
  display: flex;
  height: 4rem;
  width: 40%;
  border-radius: 0.8em;
  margin-left: 15%;
  background-color: #ffc555;
}
.toolbar section:first-of-type > i:first-of-type {
  line-height: 3.6rem;
  margin-left: 1.2rem;
}
.toolbar section:first-of-type > i:last-of-type {
  display: none;
  line-height: 4rem;
  margin-left: 4%;
  cursor: pointer;
}
.create-note {
  width: 50%;
  background-color: #ecf0f1;
  max-width: 60rem;
  margin: 6rem auto;
  padding: 1rem 1.8rem;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}
.create-note input {
  width: 70%;
  font-weight: bold;
  font-size: 18px;
}
.create-note section:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-with-image {
  font-size: 24px;
  cursor: pointer;
}
.pin-note {
  display: none !important;
  font-size: 20px;
  cursor: pointer;
}
.create-note textarea {
  min-height: 6rem;
  width: 100%;
  margin-top: 1.6rem;
  color: #80868b;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: bold;
  resize: none;
}
.create-note section:last-of-type footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.create-note section:last-of-type footer i {
  cursor: pointer;
}
.create-note section:last-of-type footer i:last-of-type {
  margin-left: 1.6rem;
}
.create-note section:last-of-type footer > button {
  width: 8rem;
  height: 2.8rem;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
.create-note section:last-of-type footer > button:hover {
  background-color: #dcdcdc;
}
.card-main-content {
  display: none;
}
.user-img-container {
  display: none;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.remove-img {
  display: none !important;
  position: relative;
  font-size: 2rem;
  cursor: pointer;
}
.circle {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0.2rem;
  border-radius: 50%;
}
.selected {
  border: solid #000000 2px;
}
.check-mark::after {
  content: "\2713";
  padding: 0.3rem;
  opacity: 0.5;
}
.created-note-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.created-note {
  display: inline-block;
  background-color: #ecf0f1;
  max-width: 40rem;
  max-height: 40rem;
}
.modal {
  display: flex;
  position: fixed; 
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}
.modal .created-note {
  max-width: unset;
  max-height: unset;
}
.moda .created-note .user-img-container {
  height: 25rem;
}
.modal .created-note .user-img-container img {
  max-width: unset !important;
}
/* utility classes */
.u-line-break {
  width: 100%;
  display: inline-block;
}
.u-transparent {
  background: unset;
  border: unset;
}
